.nav-bar {
	height: 70px;
 	width: 100%;
 	display: flex;
 	justify-content: space-between;
 	margin-top: 25px;
 	align-items: center;
	font-size: larger;

}

.nav-button {
	width: 50%;
 	display: flex;
 	align-items: center;
 	justify-content: flex-end;
 	gap: 32px;

 	a {
 		cursor: pointer;
 	}
}

.cart-icon {
	margin-right: 10px;
	padding-left: 0px;
}
